<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Event</title>
</head>
<body>
    <h1 class="text-center mt-4">Create a New Event</h1>
    <form method="post" class='form'>
        {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-warning" type = 'submit'>Submit</button>
    <button class="btn btn-primary" type = 'submit'>
        Home
        <a href="{% url 'home' %}"></a>
    </button>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
    
    
</body>
</html>