body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #3e3737;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #9fc7ee;
}

p {
    color: #9fc7ee;
    text-align: center;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #3498db;
    border-radius: 4px;
    resize: vertical;
    background-color: #444c4e;  /* Light blue-grey background */
    color: #fcfcfc;  /* Dark blue text */
    font-size: 16px;
}

textarea:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
    
    padding: 0.5rem 1rem;
    background-color: #34db3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 15px;
}

button:hover {
    background-color: #045f14;
}