{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %} 
<h1 class="text-center mt-4">We are Cuisine</h1>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for recipe in recipes %}
        <div class="col">
            <div class="card h-100">
                <img src="{{recipe.recipe_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.recipe_name}}</h5>
                    <p class="card-text">{{recipe.recipe_decription}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}